@font-face {
    font-family: "cascadia_code";
    src: url("fonts/CascadiaCode-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "cascadia_code";
    text-align: justify;
}

a {
    text-decoration: none;
    color: #eec285
}

body {
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #463047;
    color: #eec285;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url("img/background.png");
    background-repeat: repeat;
    background-size: 300px 300px;

    opacity: 0.4;
    z-index: -1;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 50vw;
    min-height: 100vh;
}

.nav {
    display: flex;
    gap: 15px;
}

.nav a:hover {
    color: #463047;
    background-color: #eec285;
}

.banner {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.email {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.email img {
    width: 20px;
    height: 13px;
}

.github_link {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.github_link img {
    width: 20px;
    height: 20px;
}

.github_link:hover {
    color: #463047;
    background-color: #eec285;
}

.github_link:hover img {
    content: url("img/github_invert.png");
}