@font-face {
    font-family: "cascadia_code";
    src: url("fonts/CascadiaCode-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "cascadia_code";
    color: #eec285;
    text-align: justify;
}

body {
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #261f28;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 35vw;
    min-height: 100vh;
}